<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторские экскурсии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Урааа, это моя первая страница</h1>
<img src="{% static 'img/excursion.png' %}" alt="Экскурсия">
{% if user.is_authenticated %}
<h1>Привет, {{ user.username }} ! Это мой магазин!</h1>
{% else %}
<p>Вы не вошли на сайт</p>
<a href="{% url 'login' %}">Войти</a>
{% endif %}
<img src="{% static 'img/smartphone.jpg' %}" alt="smartphone">
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>