<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экскурсии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Список всех экскурсий:</h1>
<table>
    <tr>
        <th>Id экскурсии</th>
        <th>Название экскурсии</th>
        <th>Страна</th>
        <th>Город</th>
        <th>Дата</th>
        <th>Количество людей</th>
        <th>Ограничение по возрасту</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Оценка</th>
    </tr>
    {% for tour in list_of_all_tours %}
    <tr>
        <td>{{tour.excID}}</td>
        <td>{{tour.excName}}</td>
        <td>{{tour.excCountry}}</td>
        <td>{{tour.excCity}}</td>
        <td>{{tour.excDate}}</td>
        <td>{{tour.peopleNumberCurrent}}</td>
        <td>{{tour.ageRestrict}}</td>
        <td>{{tour.excDesc}}</td>
        <td>{{tour.excPrice}}</td>
        <td>{{tour.excScore}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>