<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация об экскурсии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>

<h1>Экскурсия №{{ tour.excID }}</h1>
<table class="tour-info">
    <tr>
        <th>Номер экскурсии</th>
        <td>{{tour.excID}}</td>
    </tr>
    <tr>
        <th>Название экскурсии</th>
        <td>{{tour.excName}}</td>
    </tr>
    <tr>
        <th>Страна</th>
        <td>{{tour.excCountry}}</td>
    </tr>
    <tr>
        <th>Город</th>
        <td>{{tour.excCity}}</td>
    </tr>
    <tr>
        <th>Дата</th>
        <td>{{tour.excDate}}</td>
    </tr>
    <tr>
        <th>Количество людей</th>
        <td>{{tour.peopleNumberCurrent}}</td>
    </tr>
    <tr>
        <th>Ограничение по возрасту</th>
        <td>{{tour.ageRestrict}}</td>
    </tr>
    <tr>
        <th>Сложность маршрута</th>
        <td>{{tour.pathDiff}}</td>
    </tr>
        <tr>
        <th>Описание</th>
        <td>{{tour.excDesc}}</td>
    </tr>
        <tr>
        <th>Стоимость</th>
        <td>{{tour.excPrice}}</td>
    </tr>
        <tr>
        <th>Оценка</th>
        <td>{{tour.excScore}}</td>
    </tr>
        <tr>
        <th>Статус</th>
        <td>{{tour.excStatus}}</td>
</table>

<!-- Форма для добавления в корзину -->
<div style="margin-top: 20px;">
    <h2>Добавить в корзину:</h2>
    <form action="{% url 'cart:cart_add' tour.excID %}" method="post">
        {% csrf_token %}
        {{ form.quantity.label_tag }}
        {{ form.quantity }}
        <button type="submit">Добавить в корзину</button>
    </form>
</div>

</body>
</html>