<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экскурсии</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<form action="{% url 'search' %}" method="GET">
    <input name="q" type="text" placeholder="Город...">
</form>
<h1>Список всех экскурсий:</h1>
<table>
    <tr>
        <th>Название экскурсии</th>
        <th>Город</th>
        <th>Цена</th>
        <th>В корзину</th>
    </tr>
    {% for tour in list_of_all_tours %}
    <tr>
        <td>
            <a href="{% url 'tour_detail' tour.excID %}">{{ tour.excName }}</a>
        </td>
        <td>{{tour.excCity}}</td>
        <td>{{tour.excPrice}}</td>
        <td>
            <form action="{% url 'cart:cart_add' tour.excID %}" method="post">
                {% csrf_token %}
                {{ form.quantity.label_tag }}
                {{ form.quantity }}
                <input type="submit" value="Добавить">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>